.body {
  flex-grow: 1;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.action:hover {
  cursor: pointer;
}
.profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
